Repository xonsh/xonsh, pull requests merged in 2024-05, with the labels that each got.

#5379 which: fix handling of `None` results (#5358)
  xonsh/xoreutils/which.py
Labels: completion

#5377 feat: add subproc output format, autostrip singleline output
  docs/bash_to_xsh.rst
  docs/tutorial.rst
  news/subproc_output_format.rst
  tests/procs/test_specs.py
  tests/test_integrations.py
  tests/test_pipelines.py
  xonsh/environ.py
  xonsh/procs/pipelines.py
  xonsh/procs/specs.py
Labels: subproc

#5374 Xonfig: show sensitive env variables that could affect the shell behavior.
  news/xonfig_env.rst
  xonsh/xonfig.py
Labels: xonfig

#5369 CommandPipeline: clean repr + a bit of code cleaning
  news/mini_refactor.rst
  xonsh/jobs.py
  xonsh/procs/pipelines.py
  xonsh/procs/specs.py
Labels: pretty-print

#5366 Added FuncAlias
  news/funcalias.rst
  tests/test_aliases.py
  tests/test_integrations.py
  tests/test_tools.py
  xonsh/aliases.py
  xonsh/procs/proxies.py
  xonsh/procs/specs.py
  xonsh/tools.py
Labels: aliases

#5399 Fixed processing exit signals and exit exception
  news/sig_exit_fix.rst
  tests/procs/test_specs.py
  tests/test_integrations.py
  xonsh/built_ins.py
  xonsh/main.py
  xonsh/ptk_shell/shell.py
  xonsh/readline_shell.py
Labels: signals, tty

#5307 chore: use stable 3.12 for CI jobs
  .github/workflows/test.yml
  .gitignore
  tests/completers/test_python.py
  tests/procs/test_specs.py
  tests/test_integrations.py
  xonsh/ast.py
  xonsh/parsers/base.py
  xonsh/pretty.py
Labels: py313

#5431 Added ``env.detype_all()`` to get all available variables that is possible to detype.
  news/env_detype_all.rst
  tests/test_environ.py
  xonsh/environ.py
  xonsh/tools.py
Labels: environ

#5432 Fix 5379, 5429
  news/typerr.rst
  xonsh/xoreutils/_which.py
Labels: xoreutils

#5409 Show ``root`` and ``@#`` in prompt if user is superuser.
  news/prompt_superuser.rst
  xonsh/prompt/base.py
Labels: prompt

#5425 Saving history on SIGINT
  news/sigint_save_hist.rst
  xonsh/environ.py
  xonsh/ptk_shell/shell.py
Labels: history

#5361 Read stop signals from the process and update the process state.
  news/fix_interactive_suspended_subproc.rst
  tests/procs/test_specs.py
  tests/test_integrations.py
  xonsh/jobs.py
  xonsh/procs/pipelines.py
  xonsh/procs/posix.py
  xonsh/procs/specs.py
  xonsh/tools.py
Labels: subproc, signals

#5457 prompt: yellow env_name
  news/prompt_env_name_yel.rst
  xonsh/aliases.py
  xonsh/prompt/base.py
Labels: prompt
